@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Lato';
    src: url('../assets/Lato/Lato-Black.ttf');
    src: url('../assets//Lato/Lato-Regular.ttf');
    src: url('../assets/Lato/Lato-Light.ttf');
    font-weight: 400;
    font-style: normal;
}


body{
    margin: 0;
    padding: 0;
}

main{
    padding: 0 60px;
}


/* .custom-clock{
    
     font-family: Arial, sans-serif;
        font-size: 5rem;
        font-weight: bold;
        color: #333;
} */


.time-text {
    font-size: 14px;
    color: white;
    text-align: left;
  }

.slick-slide>div{
    margin: 0 10px;
}

.slick-slide>div:nth-child(1){
    margin-left: 0;
}

.slick-list{
    margin-right: -30px;
}